<html>
    <head>
        <title>DjangoGirls Demo Blog</title>
    </head>
    <body>
        <div>
            <h1><a href='/'>DjangoGirls Demo Blog</a></h1>
        </div>

        <div>
            <p>published:: 15.02.2020, 9:30</p>
            <h2><a href=''>First post</a></h2>
            <p>Gibberish.</p>
        </div>

        <div>
            <p>published:: 15.02.2020, 9:30</p>
            <h2><a href=''>Second post</a></h2>
            <p>Moar gibberish.</p>
        </div>
    </body>
</html>